<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PTCGL Replay Viewer</title>
</head>
<body>
    <%- include('inc/inc.header.ejs') -%>
    <h1>Home page</h1>
    <form action="/battlelogs/parsed" method="post">
        <label>
            <textarea name="battleLogs" rows="30" cols="80" placeholder="Paste battle log here"></textarea>
        </label>
        <button type="submit">Parse logs</button>
    </form>

    <%- include('inc/inc.footer.ejs') -%>
</body>